.top-margin-50 {
    margin-top: 50px;
}
.margin-10{
    margin: 10px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}